<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!--Bootstrap link-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!--<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" /> -->
	<title>Burger App</title>

	<!--Jquery link-->
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/javascript/app.js"></script>
	</head>
	<body>
		<div>

		{{{ body }}}

		</div>
	</body>
</html>
